:root {
	/* Thank you realtimecolors <3 */
	--text: #ffffff;
	--background: #130501;
	--primary: #ff2f00;
	--secondary: #9b6f04;
	--accent: #f9e61d;

	--text-rgb: 255, 255, 255;
    --background-rgb: 19, 5, 1;
    --primary-rgb: 255, 47, 0;
    --secondary-rgb: 155, 111, 4;
    --accent-rgb: 249, 230, 29;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
	margin: 0;
	color: var(--text);
	
	background:
	radial-gradient(circle at top, rgba(var(--primary-rgb), 0.14) 0%, transparent 80%),
	radial-gradient(circle at bottom, rgba(var(--secondary-rgb), 0.1) 0%, transparent 80%),
	radial-gradient(circle, var(--background) 0%, var(--background) 100%);
	
	background-size: 180vw 100vh;
	background-attachment: fixed;

	animation: gradient 9s ease infinite;
}

#container {
	display: flex;
}

main {
	flex-grow: 1;
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 2rem;
}

#desktop-nav {
	width: 120px;
	border-right: 1px solid rgba(var(--primary-rgb), 0.2);
}

@keyframes scale-up {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}
@keyframes scale-down {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
		display: none;
	}
}

#mobile-nav .mobile-nav-buttons {
	transform-origin: top;
	background-color: rgba(var(--background-rgb), 0.8);
	border-bottom: 2px solid rgba(var(--primary-rgb), 0.5);
	transform: scaleY(0);
}
#mobile-nav.open .mobile-nav-buttons {
	animation: scale-up 0.3s ease-in;
	animation-fill-mode: both;
}
#mobile-nav.closed .mobile-nav-buttons {
	animation: scale-down 0.3s ease-out;
	animation-fill-mode: both;
}

#mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
}
.mobile-nav-padder {
	height: 70px;
}


#mobile-nav-button .material-symbols-outlined {
	font-size: 60px;
}
#mobile-nav-button {
	background-color: rgba(var(--background-rgb), 0.9);
	border-bottom: 2px solid rgba(var(--primary-rgb), 0.5);
}

.mobile-nav-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-button {
	position: relative;

	color: var(--text);

	height: 100px;
	width: 100px;
	margin: 20px 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

@keyframes bop {
	0% {
		scale: 1;
	}
	35% {
		scale: 1.2;
	}
	100% {
		scale: 1;
	}
	
}

.nav-button:hover {
	animation: bop 0.6s ease-in-out;
}

.nav-button .material-symbols-outlined {
	font-size: 50px;
	font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
	transition: 0.3s;
}

.nav-button:hover .material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}


@media (max-width: 800px) {
	#desktop-nav {
		display: none;
	}
	h1 {
		font-size: 2.3rem;
	}
	h2 {
		font-size: 1.4rem;
	}
}
@media (min-width: 800px) {
	#mobile-nav, .mobile-nav-padder {
		display: none;
	}
}