:root {
	/* Thank you realtimecolors <3 */
	--text: #ffffff;
	--background: #130501;
	--primary: #ff2f00;
	--secondary: #9b6f04;
	--accent: #f9e61d;

	--text-rgb: 255, 255, 255;
    --background-rgb: 19, 5, 1;
    --primary-rgb: 255, 47, 0;
    --secondary-rgb: 155, 111, 4;
    --accent-rgb: 249, 230, 29;
}

body {
	margin: 0;
	color: var(--text);

	background:
		radial-gradient(circle at top, rgba(var(--primary-rgb), 0.07) 0%, transparent 80%),
		radial-gradient(circle at bottom, rgba(var(--secondary-rgb), 0.05) 0%, transparent 80%),
		radial-gradient(circle, var(--background) 0%, var(--background) 100%);
}

#container {
	display: flex;
}

main {
	flex-grow: 1;
}

h1 {
	font-size: 3rem;
}

nav {
	width: 120px;
	border-right: 1px solid rgba(var(--primary-rgb), 0.2);
}

.nav-button {
	color: var(--text);

	height: 100px;
	width: 100px;
	margin: 20px 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.nav-button .material-symbols-outlined {
	font-size: 50px;
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
	transition: 0.3s;
}

.nav-button:hover .material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}