/* Main text positioning */
#main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
#main-row {
	display: flex;
}
#main-cell {
	display: inline-block;
	padding: 15px;
}


/* Tech tiles */
.tile-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 10%;
	gap: 50px;
}
.category-tile {
	display: flex;
	gap: 10px;
}

.tile {
	text-align: center;
	font-weight: bold;
	transition: 0.3s;
	opacity: 0.4;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tile:hover {
	opacity: 1;
	scale: 1.2;
}
.tile img {
	display: block;
	margin-bottom: 5px;
}


/* reveal */
@keyframes reveal {
	0% {
		top: -20px;
		opacity: 0;
	}
	60% {
		top: 0;
	}
	100% {
		opacity: 1;
	}
}

.reveal, .category-tile {
	position: relative;
	animation: reveal 2s;
	animation-fill-mode: both;
}
h1.reveal {
	animation-delay: 0.5s;
}
h2.reveal {
	animation-delay: 1.5s;
}
.category-tile:nth-child(1) {
	animation-delay: 2.5s;
}
.category-tile:nth-child(2) {
	animation-delay: 3s;
}
.category-tile:nth-child(3) {
	animation-delay: 3.5s;
}
.category-tile:nth-child(4) {
	animation-delay: 4s;
}


/* Tech tiles responsiveness */
@media (max-width: 800px) {
	.category-tile {
		flex-wrap: wrap;
		justify-content: center;
	}
	.tile img {
		width: 60px;
		height: 60px;
	}
}