main {
	min-height: 100vh;
	overflow-x: hidden;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

#main-row {
	display: flex;
}

#main-cell {
	display: inline-block;
	padding: 15px;
}

.tile-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	padding: 30px 10%;
}

.category-tile {
	display: flex;
	gap: 20px;
}

.tile {
	text-align: center;
	font-weight: bold;
	transition: 0.3s;
	opacity: 0.4;
}

.tile:hover {
	opacity: 1;
	scale: 1.2;
}

.tile img {
	display: block;
	margin-bottom: 5px;
}