.main {
	padding: 30px;
}

.title-centerer {
	text-align: center;
}

.title {
	display: inline-block;
	text-align: left;
}

.links {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.links a {
	text-decoration: none;
	color: #fff;
	background-color: #5557;
	padding: 10px 15px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.gallery {
	max-width: 700px;
	width: 80%;
	margin: auto;
	padding: 40px;
	background-color: #fff3;
}

.gallery-big-img {
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 3;
	background-color: #fff3;
}

.gallery-big-img img, .gallery-big-img video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.gallery-thumbs {
	width: 100%;
	height: 100px;
	background-color: #fff3;
	margin-top: 30px;

	display: flex;
	padding: 5px 5px 0 0;
	
	overflow-x: scroll;
	overflow-y: hidden;
	/* scroll-snap-type: x mandatory; */
	scroll-behavior: smooth;
}
.gallery-thumbs::-webkit-scrollbar {
	height: 1rem;
}
.gallery-thumbs::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.gallery-thumbs::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 10px;
}


.gallery-thumbs img, .gallery-thumbs video {
	height: 80px;
	width: 100px;
	object-fit: cover;
	cursor: pointer;

	box-sizing: border-box;
	padding-left: 5px;

	scroll-snap-align: start;
}



.main p {
	padding: 0 100px;
}

@media (max-width: 800px) {
	.main p {
		padding: 0 10px;
	}
}

.main iframe {
	margin: 40px 15%;
	width: 70%; 
	height: 500px; 
	border: none;
	box-shadow: 0 0 40px #fff3;
	border-radius: 10px;
}

@media (max-width: 400px) {
	.main iframe {
		display: none;
	}
}