.main {
	padding: 30px;
}

.title-centerer {
	text-align: center;
}

.title {
	display: inline-block;
	text-align: left;
}

.links {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.links a {
	text-decoration: none;
	color: #fff;
	background-color: #5557;
	padding: 10px 15px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.images {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 0 40px;
	justify-content: center;
	align-items: center;
}

.main p {
	padding: 0 100px;
}

.images img {
	max-width: 40%;
	height: auto;
}

@media (max-width: 800px) {
	.images img {
		width: 100%;
		max-width: 100%;
		margin: 10px 0;
	}

	.main p {
		padding: 0 10px;
	}

	.images {
		display: block;
	}
}